<section class="books">
  <h2>📙 Books that shaped me</h2>
  <ul>
    <h2><li>Meditations <span>Marcus Aurelius</span></li></h2>
    <h2><li>The Tibetan Book of Living and Dying <span></span>Sogyal Rinpoche</li></h2>
    <h2><li>Crossing the Chasm <span>Geoffrey A. Moore</span></li></h2>
    <h2><li>Outliers <span>Malcolm Gladwell</span></li></h2>
    <h2><li>The Tipping Point <span>Malcolm Gladwell</span></li></h2>
    <h2><li>Clean Code Outliers <span>Malcolm Gladwell</span></li></h2>
    <h2><li>Escaping the Build Trap <span>Melissa Perri</span></li></h2>
    <h2><li>Sapiens <span>Yuval Noah Harari</span></li></h2>
  </ul>
</section>
