$black: #27292D;
$grey: #939496;
$color: #C80000;

@import "_index.scss";

body {
  height: 100vh;
  max-width: 700px;
  padding: 0 30px;
  margin: 60px auto;
  // display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 60%;
}

h1 {

}

a {
  color: $color;
  &:hover {
    color: $grey;
  }
}

span {
  color: $grey;
}

@media screen and (max-width: 700px) {
  html {
    color: red;
    font-size: 80%;
  }


  body {
    padding: 0 20px;
  }
}

@media screen and (max-width: 400px) {
  html {
    color: red;
    font-size: 60%;
  }

  body {
    padding: 0 15px;
  }
}